.add-action-button {
    background-color: red;
    border-radius: 25;
    font-size: 32;
    color: white;
    padding: 4;
    bottom: 10;
    height: 5;
    vertical-align: bottom; 
}
.lostdog {
    height: 70;
    width: 70; 
    margin-top: 80%;
    margin-right: 5%;
    horizontal-align: right; 
    background-color: whitesmoke
    

}
.sos {
    height: 70;
    width: 70; 
    margin-top: 55%;
    margin-right: 5%;
    horizontal-align: right; 
    background-color: whitesmoke;
    vertical-align: bottom !important; 


}