<ActionBar title="לאפקי" class="action-bar">
	<ActionItem>
		<StackLayout>
			<Button class="fa" text="&#xf0c9;" fontSize="20" (tap)="onDrawerButtonTap()"></Button>
		</StackLayout>
	</ActionItem>
</ActionBar>


<GridLayout>
		<ScrollView class="page">
			<StackLayout class="home-panel">
				<!--Add your page content here-->
				<Label fontSize="24" text="רדיוס עדכונים (בק''מ)"></Label>
				<Slider value="5" (valueChange)="onSliderValueChange($event)"></Slider>
				<Label text ={{currentValue}}></Label>

				<Label textWrap="true" text="הגדרות" class="h2 description-label"></Label>
				<Label text="התראות חיות במצוקה בלבד"></Label>
				<Switch checked="false"></Switch>
			</StackLayout>
		</ScrollView>
	</GridLayout>

