.picture {
    width: 80;
    height: 80;
    font-size: 40;
    background-color: #e7e7e7;
    border-radius: 50;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.selected-picture {
    width: 80;
    height: 80;
}